.vscode/
node_modules/
npm/*/esm/
npm/*/types/
npm/*/.test/
jsr/darwin-keychain/ffi_deno.ts
npm/darwin-keychain/src/ffi_deno.ts
npm/darwin-keychain/src/ffi_koffi.ts
npm/darwin-keychain/src/ffi_node.ts
jsr/linux-libsecret/ffi_deno.ts
npm/linux-libsecret/src/ffi_bun.ts
npm/linux-libsecret/src/ffi_deno.ts
npm/linux-libsecret/src/ffi_koffi.ts
npm/linux-libsecret/src/ffi_node.ts
npm/linux-libsecret/tests/index.test.ts
